[submodule "RMIServer"]
	path = RMIServer
	url = https://github.com/Guergeiro/RMIServer.git
[submodule "RMIClient"]
	path = RMIClient
	url = https://github.com/Guergeiro/RMIClient.git
[submodule "RMIRegistry"]
	path = RMIRegistry
	url = https://github.com/Guergeiro/RMIRegistry.git
[submodule "RMIReplicaManager"]
	path = RMIReplicaManager
	url = https://github.com/Guergeiro/RMIReplicaManager.git
